* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Poppins', sans-serif;
  color: #1a1a1a;
}

/* Top bar */
.top-bar {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 8px 40px;
  font-size: 14px;
  background: #ece9e9;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
}

.logo img {
    width: 45px;
    border-radius: 15px   ;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
}
.nav-links {
  position: relative;
  padding-bottom: 5px;
}

.nav-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #c47a2c;
  transition: width 0.3s ease;
}

.nav-links:hover::after,
.nav-links.active::after {
  width: 100%;
}


/* Hero */
.hero {
  height: 80vh;
  background: url("img/background.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  color: white;
  margin-bottom: 25px;
}
.hero-content p {
  font-size: 18px;
  color: white;
  margin-bottom: 25px;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  background: #9c5b1a;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
}
/* Blends Section */
.blends {
  background: #f8f1e7;
  padding: 40px 30px;
}

.blends-header {
  max-width: 700px;
  margin-bottom: 50px;
}

.blends-header h2 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom: px;
}

.blends-header p {
  font-size: 18px;
  color: #8b5a2b;
  line-height: 1.6;
}

/* Contact Section */
.contact-section {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 40px;
  padding: 40px 8%;
  background: #f8f1e7;
}

/* FORM */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #cfc6bb;
  font-size: 16px;
}

.contact-form button {
  background: #7a4a00;
  color: white;
  border: none;
  padding: 14px 32px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #5e3900;
}

/* MAP */
.contact-map iframe {
  width: 100%;
  height: 100%;
  min-height: 320px;
  border: 0;
}

/* INFO */
.contact-info p {
  font-size: 16px;
  margin-bottom: 14px;
  color: #3b2a1a;
}

.contact-info i {
  margin-right: 10px;
  color: #7a4a00;
}

/* SOCIAL MEDIA */
.socials {
  margin-top: 20px;
}

/* Footer */
.footer {
  background: #2b1d14;
  color: #f5efe6;
  padding: 60px 60px 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}

.footer-box h3,
.footer-box h4 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
}

.footer-box p {
  font-size: 15px;
  line-height: 1.6;
  color: #ddd;
}

/* Social Links */
.social-links a {
  display: block;
  color: #c47a2c;
  text-decoration: none;
  margin-bottom: 8px;
  font-weight: 500;
}

.social-links a:hover {
  text-decoration: underline;
}

/* Bottom */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
@media (max-width: 900px) {
  .contact-section {
    grid-template-columns: 1fr;
  }

  .contact-map iframe {
    min-height: 260px;
  }
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-links a {
    display: inline-block;
    margin: 0 10px;
  ;
  }  
  .blends {
    padding: 60px 20px;
  }       
}

