* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Poppins', sans-serif;
  color: #1a1a1a;
}

/* Top bar */
.top-bar {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 8px 40px;
  font-size: 14px;
  background: #ece9e9;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
}

.logo img {
    width: 45px;
    border-radius: 15px   ;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 500;
}
.nav-links {
  position: relative;
  padding-bottom: 5px;
}

.nav-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #c47a2c;
  transition: width 0.3s ease;
}

.nav-links:hover::after,
.nav-links.active::after {
  width: 100%;
}


/* Hero */
.hero {
  height: 80vh;
  background: url("img/background.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.hero-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  color: white;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  background: #9c5b1a;
  color: white;
  padding: 14px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
}
/* Blends Section */
.blends {
  background: #f8f1e7;
  padding: 80px 60px;
}

.blends-header {
  max-width: 700px;
  margin-bottom: 50px;
}

.blends-header h2 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom: 10px;
}

.blends-header p {
  font-size: 18px;
  color: #8b5a2b;
  line-height: 1.6;
}
/* Hover effects */
.blend-card:hover .overlay {
  opacity: 1;
}

.blend-card:hover img {
  transform: scale(1.05);
}

.blend-card:hover .overlay button {
  transform: translateY(0);
}
/* Grid */
.blend-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.blend-card img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}

.blend-card h3 {
  margin-top: 15px;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
}

.blend-card span {
  display: block;
  margin-top: 5px;
  color: #8b5a2b;
  font-weight: 500;
}



/* Grid 2*/
.blend-grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.blend-card2 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blend-card2 h3 {
  margin-top: 15px;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
}

.blend-card2 span {
  display: block;
  margin-top: 5px;
  color: #8b5a2b;
  font-weight: 500;
}
.btn2 {
  display: inline-block;
  background: #9c5b1a;
  color: white;
  padding: 10px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 20px;
}
/* Footer */
.footer {
  background: #2b1d14;
  color: #f5efe6;
  padding: 60px 60px 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}

.footer-box h3,
.footer-box h4 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 15px;
}

.footer-box p {
  font-size: 15px;
  line-height: 1.6;
  color: #ddd;
}

/* Social Links */
.social-links a {
  display: block;
  color: #c47a2c;
  text-decoration: none;
  margin-bottom: 8px;
  font-weight: 500;
}

.social-links a:hover {
  text-decoration: underline;
}

/* Bottom */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-links a {
    display: inline-block;
    margin: 0 10px;
  ;
  }
}

@media (max-width: 900px) {
  .blend-grid {
    grid-template-columns: 1fr;
  }

  .blend-card img {
    height: 300px;
  }

  .blends {
    padding: 60px 20px;
  }
}

